body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: wheat;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

#message {
  margin-top: 20px;
  font-weight: bold;
}
